{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
{#  <h1>Forgot your password?</h1>#}
{#  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>#}
{##}
{#  <form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Send me instructions!">#}
{#  </form>#}
  <div class="container mt-5">
    <div class="card center-block" style="width: 35rem;">
      <h3 class="card-header my-0">Forgot your password?</h3>
      <div class="card-body">
        <p>Enter your email address below, and we will email instructions for setting a new one.</p>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
{#            {{ form.username.label_tag }}#}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {% render_field form.email class="form-control" %}
          </div>
{#          {{ form.as_p }}#}

          <button type="submit" class="btn btn-primary">Send me instructions!</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}