{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Change password{% endblock %}

{% block content %}
{#  {% if validlink %}#}
{#    <h3>Change password</h3>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <button type="submit">Change password</button>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>#}
{#      The password reset link was invalid, possibly because it has already been used.#}
{#      Please request a new password reset.#}
{#    </p>#}
{#  {% endif %}#}
  <div class="container mt-5">
  {% if validlink %}
    <div class="card center-block" style="width: 35rem;">
      <h3 class="card-header my-0">Change Password</h3>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <div class="form-group">
{#            {{ form.username.label_tag }}#}
            {{ form.new_password1.errors }}

            <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
            {% render_field form.new_password1 class="form-control" %}
          </div>
          {#          {{ form.username }}#}
          {#          {{ form.password }}#}
          <div class="form-group">
{#            {{ form.password.label_tag }}#}
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
            {% render_field form.new_password2 class="form-control" %}
          </div>

          {% if form.new_password2.errors %}
            <div class="form-group">
              <h6 class="text-danger">
                {{ form.new_password2.errors }}
              </h6>
              <hr>
              <p>Password requirements: </p>
              <h6 class="text-primary">
                {{ form.new_password1.help_text }}
              </h6>
            </div>
          {% endif %}


          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  {% else %}
    <div class="card center-block" style="width: 35rem;">
      <h3 class="card-header my-0">Invalid Link</h3>
      <div class="card-body">
        <p>
          The password reset link was invalid, possibly because it has already been used.
        </p>
        <p>
          Please request a new <a href="{% url 'password_reset' %}">password reset link.</a>
        </p>
      </div>
    </div>
  {% endif %}
  </div>
{#  {% if validlink %}#}
{#    <h3>Change password</h3>#}
{#    <form method="post">#}
{#      {% csrf_token %}#}
{#      {{ form.as_p }}#}
{#      <button type="submit">Change password</button>#}
{#    </form>#}
{#  {% else %}#}
{#    <p>#}
{#      The password reset link was invalid, possibly because it has already been used.#}
{#      Please request a new password reset.#}
{#    </p>#}
{#  {% endif %}#}
{% endblock %}