{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Create Note{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">

      <div class="card mx-auto" style="width: 35rem;">
        <h1 class="card-header my-0">Create a note</h1>
        {% if request.user.is_authenticated %}
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {% render_field form.description class="form-control" %}
              </div>

              <div class="form-group">
                <label for="{{ form.due_date.id_for_label }}">Due Date: (optional)</label>
                {% render_field form.due_date class="form-control" type="date" %}
              </div>

              <div class="form-group">
                <h6 class="text-danger list-group-item-danger">
                  {{ form.errors }}
                  {{ form.non_field_errors }}
                </h6>
              </div>

              <button type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h6><a href="{% url 'login' %}?next={{request.path}}">Sign in</a> to create notes. </h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}