{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}
  Confirm
{% endblock %}
{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="card mx-auto" style="width: 35rem;">
        <h1 class="card-header my-0">Delete note</h1>
        <div class="card-body">
          <form method="POST" class="post-form" action="">
            {% csrf_token %}
            <div class="form-group">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h6>
                  Are you sure you want to delete your note: {{ object }} .
                </h6>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {{ form }}
            </div>
            <button type="submit" class="btn btn-outline-danger">Yes</button>&nbsp;
            <span class="text-danger"> {{ form.errors }}</span>
          </form>

        </div>

      </div>
      <hr>
    </div>
  </div>

  <script>
  </script>

{% endblock content %}
