{% extends "base.html" %}
{% block content %}
  <div class="container mt-2">
    <div class="row mb-2">
      <div class="container">
        <a class="btn btn-outline-success" href="{% url 'note_create' %}" role="button">Create Note</a>
      </div>
    </div>
    <h6>notes</h6>
    <div class="card-columns">
      {% if not object_list %}
        <div class="card mx-auto" style="width: 35rem;">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h6 class="m-3"> You have not created any notes yet.</h6>
            <h6 class="m-3">Click the button above to create a new note.</h6>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      {% endif %}
      {% for object in object_list %}
        <div class="card">
          <div class="card-body">
            <p class="">
              {{ object.description }}
            </p>
            {% if object.due_date %}
              <p> Due: {{ object.due_date }}</p>
            {% endif %}

            <a role="button" class="btn btn-outline-danger float-right mb-3" href="{{ object.get_delete_url }}"> Delete</a>
            <a role="button" class="btn btn-outline-info mr-1 float-right mb-3" href="{{ object.get_update_url }}"> Update</a>
          </div>
        </div>
      {% endfor %}

    </div>

  </div>

  <script>

  </script>

{% endblock content %}