{% extends "base.html" %}
{% load text_analyzer_extras %}

{% block title %} Text Analyzer {% endblock %}

{% block content %}

  <div class="container my-4">
    <div class="row">
      <div class="card mx-auto" style="width: 45rem;">
        <h2 class="card-header my-0">Text Analyzer</h2>
        <div class="card-body">
          <form method="get" action="{% url 'text_analyzer' %}" class="">
            <div class="form-group">
              <label for="user_url">Enter URL of Text to analyze:</label>
              <input placeholder="A valid url.." class="form-control" name="user_url" id="user_url"
                     type="url"
                     value="{% if user_url %}{{ user_url }}{% endif %}">
            </div>
            <div class="form-group">
              <label for="user_essay"> Or input the text below:</label>
              <textarea class="form-control" name="user_essay" id="user_essay" rows="5"
                        placeholder="Enter text.."
              >{% if user_essay %}{{ user_essay }}{% endif %}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Analyze</button>
          </form>
        </div>
      </div>
    </div>
{#    {{ user_url_data }}#}
    <div class="row my-3 {% if user_url_data == None %} d-none {% endif %}">
      <div class="card mx-auto" style="width: 45rem;">
        <h2 class="card-header">
          URL Analysis
        </h2>
        <div class="card-body">
          <h5 class="my-2">General data: </h5>
          <table class="table table-sm table-bordered table-hover">

            <tbody>
            {% for data in user_url_data.basic_analysis %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Word Occurrences: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Word</th>
              <th scope="col">Occurrences</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_url_data.word_frequency %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Syllable Counts: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Syllable Count</th>
              <th scope="col">Word Count</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_url_data.syllable_counter %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Unfiltered Word Occurrences: </h5>
            <table class="table table-sm table-bordered table-hover">
              <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Word</th>
                <th scope="col">Occurrences</th>
                <th scope="col">Frequency</th>
              </tr>
              </thead>
              <tbody>
              {% for data in user_url_data.unfiltered_word_frequency %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.0 }}</td>
                  <td>{{ data.1 }}</td>
                  <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>

    <div class="row my-3 {% if user_input_data == None %} d-none {% endif %}">
      <div class="card mx-auto" style="width: 45rem;">
        <h2 class="card-header">
          Textarea Input Analysis
        </h2>
        <div class="card-body">
          <h5 class="my-2">General data: </h5>
          <table class="table table-sm table-bordered table-hover">

            <tbody>
            {% for data in user_input_data.basic_analysis %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Word Occurrences: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Word</th>
              <th scope="col">Occurrences</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_input_data.word_frequency %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Syllable Counts: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Syllable Count</th>
              <th scope="col">Word Count</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_input_data.syllable_counter %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Unfiltered Word Occurrences: </h5>
            <table class="table table-sm table-bordered table-hover">
              <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Word</th>
                <th scope="col">Occurrences</th>
                <th scope="col">Frequency</th>
              </tr>
              </thead>
              <tbody>
              {% for data in user_input_data.unfiltered_word_frequency %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.0 }}</td>
                  <td>{{ data.1 }}</td>
                  <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>

  </div>



{% endblock %}