{% extends "base.html" %}
{% load widget_tweaks %}
{% load text_analyzer_extras %}

{% block title %} Text Analyzer {% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
        <div class="card mx-auto" style="width: 45rem;">
          <h2 class="card-header my-0">Text Analyzer</h2>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {#          {{ form.as_p }}#}

              <div class="form-group">
                <label for="{{ form.user_url.id_for_label }}">Enter URL of Text to analyze:</label>
                {% render_field form.user_url placeholder="A valid url.." class="form-control" %}
              </div>

              <div class="form-group">
                <label for="{{ form.user_essay.id_for_label }}">Or input the text below:</label>
                {% render_field form.user_essay placeholder="Enter text.." class="form-control" %}
              </div>


              <div class="form-group">
                <h6 class="text-danger list-group-item-danger">
                  {{ form.errors }}
                  {{ form.user_url.errors }}
                  {{ form.non_field_errors }}
                </h6>
              </div>

              <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
          </div>
        </div>
    </div>

    <div class="row my-3 {% if user_url_data == None %} d-none {% endif %}">
      <div class="card mx-auto" style="width: 45rem;">
        <h2 class="card-header">
          <a href="{{ user_url_data.url }}">URL </a> Analysis
        </h2>
        <div class="card-body">
          <h5 class="my-2">General data: </h5>
          <table class="table table-sm table-bordered table-hover">

            <tbody>
            {% for data in user_url_data.basic_analysis %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Word Occurrences: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Word</th>
              <th scope="col">Occurrences</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_url_data.word_frequency %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Syllable Counts: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Syllable Count</th>
              <th scope="col">Word Count</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_url_data.syllable_counter %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Unfiltered Word Occurrences: </h5>
            <table class="table table-sm table-bordered table-hover">
              <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Word</th>
                <th scope="col">Occurrences</th>
                <th scope="col">Frequency</th>
              </tr>
              </thead>
              <tbody>
              {% for data in user_url_data.unfiltered_word_frequency %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.0 }}</td>
                  <td>{{ data.1 }}</td>
                  <td>{% percentage numerator=data.1 denominator=user_url_data.total_words %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>

    <div class="row my-3 {% if user_input_data == None %} d-none {% endif %}">
      <div class="card mx-auto" style="width: 45rem;">
        <h2 class="card-header">
          Textarea Input Analysis
        </h2>
        <div class="card-body">
          <h5 class="my-2">General data: </h5>
          <table class="table table-sm table-bordered table-hover">

            <tbody>
            {% for data in user_input_data.basic_analysis %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Word Occurrences: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Word</th>
              <th scope="col">Occurrences</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_input_data.word_frequency %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Syllable Counts: </h5>
          <table class="table table-sm table-bordered table-hover">
            <thead>
            <tr>
              <th scope="col">Syllable Count</th>
              <th scope="col">Word Count</th>
              <th scope="col">Frequency</th>
            </tr>
            </thead>
            <tbody>
            {% for data in user_input_data.syllable_counter %}
              <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

          <h5 class="my-2">Unfiltered Word Occurrences: </h5>
            <table class="table table-sm table-bordered table-hover">
              <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Word</th>
                <th scope="col">Occurrences</th>
                <th scope="col">Frequency</th>
              </tr>
              </thead>
              <tbody>
              {% for data in user_input_data.unfiltered_word_frequency %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ data.0 }}</td>
                  <td>{{ data.1 }}</td>
                  <td>{% percentage numerator=data.1 denominator=user_input_data.total_words %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>



{% endblock %}