body {
    background-color: #f4f6f9 !important;
}

input, select, option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    min-width:200px;
    min-height: 34px;
    border-color: rgba(50, 50, 50, 0.14);
    border:1px solid #ccc;
    vertical-align:top;
}

.navbar_apps_item_margin {
    margin-top: 0.75rem !important;
}

/*.navbar {*/
    /*margin-bottom: 0 !important;*/
/*}*/