body {
    background-color: #f4f6f9 !important;
}

input, select, option {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.google_sign_in_logo {
    width: 12rem;
}

.navbar_apps_item_margin {
    margin-top: 0.75rem !important;
}

/*.navbar {*/
    /*margin-bottom: 0 !important;*/
/*}*/