{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Sign In {% endblock %}

{% block content %}
  <div class="container mt-5">
  <div class="row">
    <div class="card mx-auto" style="width: 35rem;">
      <h1 class="card-header my-0 bg-secondary text-white">Sign In</h1>
      <div class="card-body">
        <a class="" href="http://{{ domain }}/accounts/google/login/">
          <img class="google_sign_in_logo" src="/static/google_sign_in_logo.png" alt="google_sign_in_logo">
        </a>
      </div>
    </div>

  </div>
  </div>

{% endblock %}