{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="card center-block" style="width: 35rem;">
      <h1 class="card-header my-0">This is the home page</h1>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A assumenda at et facere fuga fugit hic impedit, ipsam iusto labore maxime omnis quasi, quidem quisquam sed voluptatem voluptatibus? Amet, numquam?</p>
      </div>
    </div>
  </div>

{% endblock %}
