{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="card mx-auto" style="width: 35rem;">
        <h1 class="card-header my-0">Create Account</h1>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {#          {{ form.as_p }}#}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}">Email:</label>
              {% render_field form.username class="form-control" %}
            </div>

            <div class="form-group">
              <label for="{{ form.password.id_for_label }}">New Password:</label>
              {% render_field form.password class="form-control" %}
            </div>

            <div class="form-group">
              <label for="{{ form.password2.id_for_label }}">Confirm New Password:</label>
              {% render_field form.password2 class="form-control" %}
            </div>

            <div class="form-group">
              <h6 class="text-danger list-group-item-danger">
                {#              {{ form.errors }}#}
                {{ form.username.errors }}
                {{ form.non_field_errors }}
              </h6>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}